:root {
    --primary-color: #111;
    --secondary-color: #222;
    --font-color: #424242;
    --bg-color: #eee;
    --step-bgcolor: #4679bd;
    --heading-color: #292922;
    --border-color: #ddd;
    --border-color-hover: #00f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #9A97f3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --step-bgcolor: #0ff;
    --heading-color: #818cab;
    --border-color: #eee;
    --border-color-hover: #fff;
  }
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 4em auto;
    width: 90%;
    font-size: 1.5rem;
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0rem;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 1.25rem;
}

ul, ul li {
    font-size: 1.5rem;
}
a {
    text-decoration: underline;
    color: var(--primary-color);
    
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
h1 {
    font-size: 2rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: var(--primary-color);
	
}
h2 {
    font-size: 1.75rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: var(--primary-color);
}
p {
    line-height: 1.6rem;
    color: var(--secondary-color);
}

video {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p img {
  border: 0.1rem solid var(--border-color);
  border-radius: 0.3rem;
  padding: 0.4rem;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p img:hover { 
  max-width: 100%;
}

a img {
  max-width: 80%;
}

a img:hover {
  border: 0.3rem solid var(--border-color-hover);
  max-width: 80%;
}
footer {
    border-top: 0.0625rem solid #d5d5d5;
    font-size: 1rem;
}

ul.posts { 
    margin: 1.25rem auto 2.5rem; 
    font-size: 1.5rem;
}

ul.posts li {
    list-style: none;
}

.step { border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	width: 2.1875rem; 
	height: 2.1875rem; 
	background: var(--step-bgcolor);
	color: var(--bg-color); 
	float: left;
	text-align: center;
	font-size: 1.5rem;
	padding-top: 0.34375rem;
	margin: 0.3125rem 0.9375rem 0rem 0rem;
	font-family: 'Helvetica', 'Arial', 'sans-serif'; }


