:root {
    --primary-color: #111;
    --secondary-color: #222;
    --font-color: #424242;
    --bg-color: #eee;
    --step-bgcolor: #4679bd;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97f3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --step-bgcolor: #0ff;
    --heading-color: #818cab;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 4em auto;
    width: 90%;
    font-size: 1.5em;
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0em;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 1.25em;
}

ul, ul li {
    font-size: 1em;
}
a {
    text-decoration: underline;
    color: var(--primary-color);
    
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: var(--secondary-color);
}
footer {
    border-top: 0.0625em solid #d5d5d5;
    font-size: 0.8em;
}

ul.posts { 
    margin: 1.25em auto 2.5em; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.step { border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	width: 2.1875em; 
	height: 2.1875em; 
	background: var(--step-bgcolor);
	color: var(--bg-color); 
	float: left;
	text-align: center;
	font-size: 1.5em;
	padding-top: 0.34375em;
	margin: 0.3125em 0.9375 0em 0em;
	font-family: 'Helvetica', 'Arial', 'sans-serif'; }

