@charset "utf-8";
/* la ligne ci-dessus est pour indiquer que c´est encodé en utf-8 */

/* les couleurs définies pour mode clair */
:root {
    --primary-color: #111;
    --secondary-color: #222;
    --font-color: #424242;
    --bg-color: #eee;
    --step-bgcolor: #4679bd;
    --heading-color: #292922;
    --border-color: #ddd;
    --border-color-hover: #00f;
    --bg-box-color: #cecece;
    --footer-color: #d5d5d5;
}

/* les couleurs définies pour mode sombre */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #9A97f3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --step-bgcolor: #0ff;
    --heading-color: #818cab;
    --border-color: #eee;
    --border-color-hover: #fff;
    --bg-box-color: #9e9e9e;
    --footer-color: #e5e5e5;
  }
}

/* Aucune couleurs ne devraient être codées en dur
  Ça doit être des références aux variables définies ci-dessus */
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 4rem auto;
    width: 90%;
    font-size: 1.5rem;
}

/* Règles pour barre de navigation (nav) au-dessus des pages et 
pieds de page (footer) au bas de chaque page. */

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0rem;
    list-style: none;
    font-weight: bold;
}
nav {
    border-bottom: 0.1250rem solid var(--footer-color);
    font-size: 1rem;
}

nav ul li {
    display: inline;
    margin-right: 1.25rem;
}

footer {
    border-top: 0.1250rem solid var(--footer-color);
    font-size: 1rem;
}

footer ul li {
    display: inline;
    margin-right: 1.25rem;
}

.entry-meta ul,
ul.entry-meta {
list-style: none;
}

.entry-meta ul li,
ul.entry-meta li {
  display: inline;
  margin-right: 0.25rem;
  font-size: 1rem;
}
ul, ul li {
    font-size: 1.5rem;
}

div.toc {
  border: 0.2rem solid var(--primary-color);
  color: var(--primary-color);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
div.toc > ol.toc, 
div.toc > ol.toc {
  display: none;
}

div.toc:hover > ul.toc, 
div.toc:hover > ol.toc,
div.toc > p.toc:hover + ul.toc, 
div.toc > p.toc:hover + ol.toc,
p.toc:hover + ul.toc, 
p.toc:hover + ol.toc  {
  display: block;
}

/* Indique comment 
  les liens doivent être affichés normalement 
  et lorsqu´on passe dessus (hover) */

a {
    text-decoration: underline;
    color: var(--primary-color);
    
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Indique comment afficher les titres */

h1 {
    font-size: 2rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-variant: small-caps;
    color: var(--primary-color);
	
}
h2 {
    font-size: 1.9rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-variant: small-caps;
    color: var(--primary-color);
}

h3 {
    font-size: 1.8rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-variant: small-caps;
    color: var(--primary-color);
}

h4 {
    font-size: 1.7rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-variant: small-caps;
    color: var(--primary-color);
}

h5 {
    font-size: 1.6rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-variant: small-caps;
    color: var(--primary-color);
}


/* Indique comment afficher les paragraphes */
p {
    line-height: 1.6rem;
    color: var(--secondary-color);
}


/* Indique comment afficher les vidéos */
.video-box {
    background-color: var(--bg-box-color);
    padding: 1rem;
}

.video-box p {
  color: var(--font-color);
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

video {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Indique comment afficher les images 
selon qu´elles sont dans un paragraphe 
ou dans un lien */

p img {
  border: 0.1rem solid var(--border-color);
  border-radius: 0.3rem;
  padding: 0.4rem;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p img:hover {
   -webkit-transition: width 0.5s ease-in-out;
   -moz-transition: width 0.5s ease-in-out;
   -o-transition: width 0.5s ease-in-out;
   transition: width 0.5s ease-in-out;
  min-width: 100%;
  max-width: 100%;
  margin-left: none;
  margin-right: none;
}
p img:hover after {
   -webkit-transition: width 0.5s ease-in-out;
   -moz-transition: width 0.5s ease-in-out;
   -o-transition: width 0.5s ease-in-out;
   transition: width 0.5s ease-in-out;
}

a img {
  max-width: 80%;
}

a img:hover {
  border: 0.3rem solid var(--border-color-hover);
  max-width: 80%;
}

/* Indique comment gérer 
   l´affichage pour les liens suivant et précédent */
.Precedent-Suivant {
  border-top: 0.0625rem solid var(--footer-color);
  border: 0.2rem solid var(--footer-color);
  border-radius: 0.3rem;
  padding: 0.3rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* le text sera aligné sur la gauche */
.Precedent-Suivant > .Precedent {
  text-align: left;
  flex: 0 0 50%;
}
/* le text sera aligné sur la droite */
.Precedent-Suivant > .Suivant {
  text-align: right;
  flex: 0 0 50%;
}


/* Indique comment afficher les posts lorsqu´ils sont dans les listes */
ul.posts, { 
    margin: 1.25rem auto 2.5rem; 
    font-size: 1.5rem;
}
ul.posts li {
    list-style: none;
}

/* Indique comment afficher les posts lorsqu´ils sont dans les listes d´articles*/
article.posts { 
    margin: 1.25rem 1rem 2.5rem; 
    font-size: 1.5rem;
}

article.post { 
    margin: 1.25rem 1rem 2.5rem; 
    font-size: 1.5rem;
    border-left: 0.0625rem solid var(--footer-color);
    padding: 0.3rem;
}

article.post span {
  font-size: 1rem;
}
.meta {
  font-size: 1rem;
}

/* suis pas sûr que ce soit utilisé */
.step { border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	width: 2.1875rem; 
	height: 2.1875rem; 
	background: var(--step-bgcolor);
	color: var(--bg-color); 
	float: left;
	text-align: center;
	font-size: 1.5rem;
	padding-top: 0.34375rem;
	margin: 0.3125rem 0.9375rem 0rem 0rem;
	font-family: 'Helvetica', 'Arial', 'sans-serif'; 
}


