@charset "utf-8";
/* la ligne ci-dessus est pour indiquer que c´est encodé en utf-8 */

/* les couleurs définies pour mode clair */
:root {
    --primary-color: #5500AB;
    --secondary-color: #222;
    --font-color: #424242;
    --bg-color: #eee;
    --secondary-bg-color: #C147E9;
    --fourth-bg-color: #E5B8F4;
    --step-bgcolor: #4679bd;
    --heading-color: #292922;
    --border-color: #ddd;
    --border-color-hover: #00f;
    --bg-box-color: #cecece;
    --footer-color: #d5d5d5;
    --highlight-color-1: #ab0000;
    --highlight-color-2: #ab5500;

}

/* les couleurs définies pour mode sombre */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #9A97f3;
    --secondary-color: #810CAB;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --secondary-bg-color: #810CA8;
    --fourth-bg-color: #2D033B;
    --step-bgcolor: #0ff;
    --heading-color: #810CAB;
    --border-color: #eee;
    --border-color-hover: #fff;
    --bg-box-color: #9e9e9e;
    --footer-color: #e5e5e5;
    --highlight-color-1: #ab0000;
    --highlight-color-2: #ab5500;
  }
}

/* Aucune couleurs ne devraient être codées en dur
  Ça doit être des références aux variables définies ci-dessus */
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 4rem auto;
    width: 90%;
    font-size: 1.5rem;
}

div.debug {
  float: right;
  width: 30%;
  border: 1px solid var(--footer-color);
}

/* Règles pour barre de navigation (nav) au-dessus des pages. */
/* ligne séparatrice pour bien séparer la barre de menu du reste */
nav {
  border-bottom: 0.1250rem solid var(--footer-color);
  font-size: 1rem;
}

/* flex horizontal, de gauche à droite, pour que tout soit sur 1 ligne  */
nav ul {
  display: flex;
  flex-direction: row;
  align-items: start;
}
/* indique la police et que ce soit de petites majuscule et en gras
et supprime les bullets des listes. */

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-variant: small-caps;
    padding: 0rem;
    list-style-type: none;
    font-weight: bold;
}
/* une marge à droite pour séparer les menus items */
nav ul li {
    padding 0.3rem 0;
    margin-right: 1.25rem;
}

/* animation sur les liens de 1/2 seconde */
nav ul li a {
 position: relative;
 display: block;
 transition: 0.5s;
 padding: 0.3rem 0;
 text-decoration: none;
}

/* after  (noter les 2 fois : devant after alors qu´il n´y en a qu´un seul devant hover )
Animation d´1/2 seconde d´une ligne affichée au bas du texte, qui se raccourcit de droite à gauche */
nav ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.15rem;
  top: 100%;
  left: 0;
  background: var(--highlight-color-2);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

/* change la couleur de fond lorsqu´on passe sur le lien */
nav ul li a:hover{
background-color: var(--secondary-bg-color);
}

/* Animation d´1/2 seconde d´une ligne affichée au bas du texte, qui s´allonge de gauche a droite */
nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* l´astuce pour l´animation dans la barre de menu provient du site 
https://webdevtrick.com/css-menu-hover-underline/ 
et a été adapte pour tenir compte de la structure de mes pages  */


/* style pour les pieds de page des pages 
on le limite au footer du body car, comme on le verra plus tard, 
on a des footer par article et par secrion aussi.
mais ils nˆauront pas le même reglage,*/
body>footer {
    border-top: 0.1250rem solid var(--footer-color);
    font-size: 1rem;
}
body>footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-variant: small-caps;
    padding: 0rem;
    list-style-type: none;
    font-weight: bold;
}
body>footer ul li {
    display: inline;
    margin-right: 1.25rem;
}
body>footer ul li a {
 text-decoration: none;
}
/* un entry (peut etre une page ou un post 
a des meta-données comme les tags ou les categories. 
c´est de cela qu´il s´agit ici. */
.meta ul,
ul.meta {
list-style: none;
}

.meta ul li,
ul.meta li {
  display: inline;
  margin-right: 0.25rem;
  font-size: 1rem;
}

/* par defaut, les listes ont une taille de police de 1.5rem 
je ne suis pas sur que cela soit nécessaire car la taille de police 
pour le body est déjà de 1.5rem */
ul, ul li {
    font-size: 1.5rem;
}

/* style pour la table des matières */
div.toc {
  border: 0.2rem solid var(--primary-color);
  color: var(--primary-color);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
/* par défaut, le sommaire est cachée */
div.toc > ol.toc, 
div.toc > ul.toc {
  display: none;
}
/* et le sommaire s´affichera si l´on passe sur le bloc sommaire */

div.toc:hover > ul.toc, 
div.toc:hover > ol.toc,
div.toc > p.toc:hover + ul.toc, 
div.toc > p.toc:hover + ol.toc,
p.toc:hover + ul.toc, 
p.toc:hover + ol.toc  {
  display: block;
}

/* Indique comment 
  les liens doivent être affichés normalement 
  et lorsqu´on passe dessus (hover) */

a {
    text-decoration: underline;
    color: var(--primary-color);
    
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Indique comment afficher les titres (jusque 5 niveaux, 
ce qui devrait grandement suffire)
Seule la taille de la police est différente selon le niveau.
le reste est commun à tous les niveaux de titres */

h1, h2, h3, h4, h5 {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-variant: small-caps;
  color: var(--primary-color);
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.6rem;
}


/* Indique comment afficher les paragraphes 
p {
    line-height: 1.5rem;
    color: var(--secondary-color);
}
*/

/* Indique comment afficher les vidéos */
.video-box {
    background-color: var(--bg-box-color);
    padding: 1rem;
}

.video-box p {
  color: var(--font-color);
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
/* la video est affichée à maximum 80% de la largeur */
video {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Indique comment afficher les images 
selon qu´elles sont dans un paragraphe 
ou dans un lien */
p>img, a>img {
  border: 0.1rem solid var(--highlight-color-2);
  border-radius: 0.3rem;
  padding: 0.4rem;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}

/* si les images sont dans un paragraphe, 
on applique un effet d´grandissement */
p>img:hover {
   -webkit-transition: width 0.5s ease-in-out;
   -moz-transition: width 0.5s ease-in-out;
   -o-transition: width 0.5s ease-in-out;
   transition: width 0.5s ease-in-out;
  min-width: 100%;
  max-width: 100%;
  margin-left: none;
  margin-right: none;
}
p>img:hover::after {
   -webkit-transition: width 0.5s ease-in-out;
   -moz-transition: width 0.5s ease-in-out;
   -o-transition: width 0.5s ease-in-out;
   transition: width 0.5s ease-in-out;
}


a>img:hover {
  border: 0.3rem solid var(--highlight-color-1);
  max-width: 80%;
}

/* Indique comment gérer 
   l´affichage pour les liens suivant et précédent */
.Precedent-Suivant {
  border-top: 0.0625rem solid var(--footer-color);
  border: 0.2rem solid var(--footer-color);
  border-radius: 0.3rem;
  padding: 0.3rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* le text sera aligné sur la gauche */
.Precedent-Suivant > .Precedent {
  text-align: left;
  flex: 0 0 50%;
}
/* le text sera aligné sur la droite */
.Precedent-Suivant > .Suivant {
  text-align: right;
  flex: 0 0 50%;
}


/* Indique comment afficher les posts lorsqu´ils sont dans les listes */
ul.posts, { 
    margin: 1.25rem auto 2.5rem; 
    font-size: 1.5rem;
}
ul.posts li {
    list-style: none;
}

/* Indique comment afficher les posts lorsqu´ils sont dans les listes d´articles*/
article.posts { 
    margin: 1.25rem 1rem 2.5rem; 
    font-size: 1.5rem;
}

article.post { 
    margin: 1.25rem 1rem 2.5rem; 
    font-size: 1.5rem;
    border-left: 0.2500rem solid var(--highlight-color-1);
    padding: 0.3rem;
}

article.post:hover { 
  border-left: 0.2500rem solid var(--highlight-color-2);
}

article.post span {
  font-size: 1rem;
}
.meta {
  font-size: 1rem;
}

span.left, span.right {
font-size: 3rem;

blockquote {
  border-left: 0.2500rem solid var(--highlight-color-1);
}

/* permet de mettre des crochets autour du numero de la note de bas de page. Ça rend la référence de la note plis visible */
a.footnote:before {   
 content: "[";
}

a.footnote:after {
    content: "]";
}
/* suis pas sûr que ce soit utilisé */
.step { border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	width: 2.1875rem; 
	height: 2.1875rem; 
	background: var(--step-bgcolor);
	color: var(--bg-color); 
	float: left;
	text-align: center;
	font-size: 1.5rem;
	padding-top: 0.34375rem;
	margin: 0.3125rem 0.9375rem 0rem 0rem;
	font-family: 'Helvetica', 'Arial', 'sans-serif'; 
}


