{%- assign debugMode = include.debug | default: false -%}
{%- if debugMode -%}
site.data.archives.label: {{site.data.archives.label}}<br/>
site.data.archives.size: {{site.data.archives.size}}<br/>
site.data.archives[0]: {{site.data.archives[0] }}<br/>
site.data.archives[2019]: {{site.data.archives[2019] }}<br/>
site.data.archives.first: {{site.data.archives.first }}<br/>
site.data.archives.first.first: {{site.data.archives.first.first }}<br/>
{%- endif -%}

<div class="archives">
<ul>
{%- for year in site.data.archives -%}
  {%- assign yearInfo = site.data.archives[year.first]] -%}
  {%- if include.debug -%}
    year.label: {{year.label}}<br/>
    year.size: {{year.size}}<br/>
    year[0]: {{year[0] }}<br/>
    year[1]: {{year[1] }}<br/>
    year.id: {{year.id }}<br/>
    year.title: {{year.title }}<br/>
    year.first: {{year.first }}<br/>
    yearinfo.id: {{yearinfo.id }}<br/>
    yearinfo.title: {{yearinfo.title }}<br/>
    yearinfo.url: {{yearinfo.url }}<br/>
    yearinfo.previous: {{yearinfo.previous }}<br/>
    yearinfo.next: {{yearinfo.next }}<br/>
  {%- endif -%}
  <li>
    <p>{{yearInfo.id}}: {%- include archive-year-link.html year=yearInfo debug=debugMode -%}</p>
    {%- if yearInfo.previous -%}
    {%- assign previous = site.data.archives[yearinfo.previous] -%}
    <p>{{previous.id}} : {% include archive-year-link.html year=previous debug=debugMode -%}</p>
    {%- endif -%}
    {%- if yearInfo.next -%}
    {%- assign next = site.data.archives[yearinfo.next] -%}
    <p>{{next.id}}: {% include archive-year-link.html year=next debug=debugMode -%}</p>
    {%- endif -%}
  </li>
{%- endfor -%}
</ul> 
</div>

