{%- assign debugMode = include.debug | default: false -%}
{%- if debugMode -%}
site.data.archives.label: {{site.data.archives.label}}<br/>
site.data.archives.size: {{site.data.archives.size}}<br/>
site.data.archives[0]: {{site.data.archives[0] }}<br/>
site.data.archives[2019]: {{site.data.archives[2019] }}<br/>
site.data.archives.first: {{site.data.archives.first }}<br/>
site.data.archives.first.first: {{site.data.archives.first.first }}<br/>
{%- endif -%}

<div class="archives">
<ul>
{%- for year in site.data.archives -%}
  {%- if include.debug -%}
    year: {{year}}<br/>
    year.first: {{year.first}}<br/>
    site.data.archives[year.first]: {{site.data.archives[year.first]}}<br/>
    site.data.archives[year.first].first: {{site.data.archives[year.first].first}}<br/>
  {%- endif -%}
  {%- assign yearInfo = site.data.archives[year.first].first -%}
  {%- if include.debug -%}
    yearInfo: {{yearInfo}}<br/>
    yearInfo.size: {{yearInfo.size}}<br/>
    yearInfo[0]: {{yearInfo[0]}}<br/>
    yearInfo[1]: {{yearInfo[1]}}<br/>
    yearInfo.first: {{yearInfo.first}}<br/>
    yearInfo.id: {{yearInfo.id}}<br/>
    yearInfo.title: {{yearInfo.title}}<br/>
    yearInfo.url: {{yearInfo.url}}<br/>
    yearInfo.previous: {{yearInfo.previous}}<br/>
    yearInfo.next: {{yearInfo.next}}<br/>
  {%- endif -%}
  <li>
    <p>{{yearInfo.id}}: {%- include archive-year-link.html year=yearInfo debug=debugMode -%}</p>
    {%- if yearInfo.previous -%}
    {%- assign previous = site.data.archives[yearInfo.previous] -%}
    {%- if include.debug -%}
      previous: {{previous}}<br/>
      previous.id: {{previous.id}}<br/>
      previous.title: {{previous.title }}<br/>
      previous.url: {{previous.url }}<br/>
      previous.previous: {{previous.previous }}<br/>
      previous.next: {{previous.next }}<br/>
    {%- endif -%}
    <p>{{previous.id}} : {% include archive-year-link.html year=previous debug=debugMode -%}</p>
    {%- endif -%}
    {%- if yearInfo.next -%}
    {%- assign next = site.data.archives[yearInfo.next] -%}
    {%- if include.debug -%}
      next: {{next}}<br/>
      next.id: {{next.id}}<br/>
      next.title: {{next.title }}<br/>
      next.url: {{next.url }}<br/>
      next.previous: {{next.previous }}<br/>
      next.next: {{next.next }}<br/>
    {%- endif -%}<p>{{next.id}}: {% include archive-year-link.html year=next debug=debugMode -%}</p>
    {%- endif -%}
  </li>
{%- endfor -%}
</ul> 
</div>

