{%- assign debugMode = include.debug | default: false -%}
{%- assign yearId= include.year.id | string -%}
{%- assign defaultYear= site.time | date:"%Y" | string -%}
{%- assign archive_year = yearId | default: defaultYear -%}
  {%- if debugMode -%}
     <div class="debug">
       archive_year {{ archive_year }}  
     </div>
  {%- endif -%}
{%- assign counter_posts = 0 -%}
{%- for entry in site.posts -%}
  {%- assign yearOfEntry = entry.date | date: "%Y" | string -%}
  {%- if yearOfEntry contains archive_year -%}
    {%- assign counter_posts = counter_posts| plus:1  -%}
    {%- if debugMode -%} 
      <div class="debug">{{ counter_posts }}</div>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
<span class="counter">{{ counter_posts }}</span>
