{%- comment -%}liens vers les pages des auteurs de l´article. 
Si aucun auteur n´est mentionné dans l´article, alors 
il va le chercher au niveau du site{%- endcomment -%}

{% assign authors = '' | split:'/' %}
{% for author in site.authors %}
    {% if entry.authors contains author.name or author.name == entry.author %}
        {% capture authorLink %}
        	<a href="{{ author.url }}">{{ author.name }}</a>
        {% endcapture %}
        {% assign authors = authors | push: authorLink %}
    {% endif %}
{% endfor %}
{% if authors }}
[
{{ authors | array_to_sentence_string: ""}}
]
{% else %}
@<a href="{{ site.url }}/apropos/{{ site.author.userName }}">{{ site.author.name }}</a>
{% endif%}
