{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

<article class="post">
  <h3><a href="{{ entry.url }}" rel="bookmark" title="{{ title }}">{{ title }}</a></h3>
  {%- include meta.html metaList=entry.tags, metaNamePlural="tags" -%}
  {%- include meta.html metaList=entry.categories, metaNamePlural="categories" -%}
  {%- if entry.categories -%}{%- if page.layout != "categories" -%}
  <footer class="meta">
    <ul class="meta">
      {%- if entry.date -%}<li>{%- include entry_date.html -%}</li>{%- endif -%}
      <li>{%- include author.html -%}</li>
    </ul>
    </footer>
</article>
