		<footer>
    		<ul>
			<li>&copy; <a href="{{site.author.url}}">{{site.author.name}}</a> 2019-<time datetime="{{ site.time | date_to_xmlschema }}">{{site.time | date: "%Y" }}</time></li>
        		<li><a href="https://twitter.com/{{site.author.twitter}}">Twitter</a></li>
        		<li><a href="{{site.url}}">{{site.name}}</a></li>
			<li><small>Page regénérée le <time datetime="{{ 'now' | date_to_xmlschema }}">{{ "now" | date: "%d/%m/%Y" }}</time> à <time datetime="{{ 'now' | date_to_xmlschema }}">{{ "now" | date: %H:%M" }}</time></small></li>
		</ul>
		</footer>
