<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="color-scheme" content="dark light">
	<meta name="author" content="{{ page.author | default: site.author.name }}">
	<!-- favicon
	<link rel="shortcut icon" href="/img/ico/favicon.png">
	-->
	<title>{{ page.title }} | { page.author | default: site.author.name }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ site.author.twitterId }}" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  {%- if page.image.url -%}
  <meta name="twitter:image" content="{{ page.image.url}}" />
	{%- endif -%}
</head>
