{%- if include.debug -%}
  {%- if include.metaList.first -%}
    include.metaList.first: true<br/>
    {%- if include.metaList.first.first -%}
      include.metaList.first.first: true<br/>
    {%- else -%}
      include.metaList.first.first: false<br/>
    {%- endif -%}
  {%- else -%}
     include.metaList.first: false<br/>
  {%- endif -%}
  include.metaNamePlural: [{{include.metaNamePlural}}]<br/>
  page.layout : [{{page.layout}}]<br/>
    page.layout != include.metaNamePlural :

  {%- if page.layout != include.metaNamePlural -%}true<br/>
  {%- else -%} false<br/>
  {%- endif -%}
  include.metaList.size : [{{include.metaList.size}}]<br/>
{%- endif -%}

{%- comment -%}
  on ne va pas afficher les tags de l´article 
  si on est sur la page référençants tous les tags.
  Idem pour les catégories.
{%- endcomment -%}

{%- if include.metaList -%}{%- if page.layout != include.metaNamePlural -%}
  <ul class="meta">
    {%- if include.metaList.size>1 -%}
    <li>{{include.metaNamePlural }} :</li>
    {%- else -%}
    <li>{{include.metaNameSingle }} :</li>
    {%- endif -%}
  {%- for meta in include.metaList -%}
    {%- if include.debug -%}
      meta.label: [{{ meta.label }}]<br/>
      meta[0]: [{{ meta[0] }}]<br/>
      meta.id: [{{ meta.id }}]<br/>
      meta.first: [{{ meta.first }}]<br/>
      meta | first: [{{ meta |first }}]<br/>
      meta : {{ meta }}<br/>
    {%- endif -%}
    <li><a href="/{{include.metaNamePlural}}/#{{ meta | slugify:latin | downcase }}" rel="tag" title="Liste des {{include.metaNamePlural}}: {{ meta }}">{{ meta }}</a></li>
  {%- endfor -%}
  </ul>
  {%- endif -%}{%- endif -%}
