{% comment %}
~~~
Parameters:
  img : informations concerning the image (mandatory)
    url: the url of the image (mandatory)
    alt: the alternate text of the image (optional)
    title: the description of the image (optional)
    small_url: the url of the small version of the image(optional)
    medium_url: the url of the medium version of the image(optional)
    large_url: the url of the large version of the image(optional)
    dark:
      url: the url of the dark version of the image(optional)
      small_url: the url of the small dark version of the image(optional)
      medium_url: the url of the medium dark version of the image(optional)
      large_url: the url of the large dark version of the image(optional)
  link: information concerning the link (optional)
     url: the url of the link that will be open when we click on the image (mandatory)
     alt: alternate text of the url (optional)
     title: description of the link (optional)
  base: the base url directory where relative images should be present
     if not passed as argument, 
       it will look at page.pictures_base_url
       if not present, 
         it will look at site.pictures_base_url
         if not present, it will be ""

if the optional parameter *link* is not present,
the picture will not be wrapped in a <a> tag.

~~~
{% endcomment %}
{% assign debugMode = include.debug | default: page.debug | default: site.debug %}
{% assign urlPrepend = include.base | default: page.pictures_base_url | default: site.pictures_base_url | default: "" %}
{% assign imgUrlFirstPart = include.img.url | split:'/' | first %}
{% case imgUrlFirstPart %}
  {% when "http:" %}
    {% if debugMode %}
    <div class="debug"> Http found </div>
    {% endif %}
    {% assign imgUrlIsNotRelative = true %}
  {% when "https:" %}
    {% if debugMode %}
    <div class="debug">HttpS found </div>
    {% endif %}
    {% assign imgUrlIsNotRelative = true %}
  {% when "" %}
    {% if debugMode %}
    <div class="debug"> empty string found </div>
    {% endif %}
    {% assign imgUrlIsNotRelative = true %}
  {% else %}
    {% if debugMode %}
    <div class="debug">Relative url found : {{ imgUrlFirstPart }} </div>
    {% endif %}
    {% assign imgUrlIsNotRelative = false %}
{% endcase %}
{% assign darkimgUrlFirstPart = include.img.dark.url | split:'/' | first %}
{% case darkimgUrlFirstPart %}
  {% when "http:" %}
    {% if debugMode %}
    <div class="debug">Http found </div>
    {% endif %}
    {% assign darkimgUrlIsNotRelative = true %}
  {% when "https:" %}
    {% if debugMode %}
    <div class="debug">HttpS found </div>
    {% endif %}
    {% assign darkimgUrlIsNotRelative = true %}
  {% when "" %}
    {% if debugMode %}
    <div class="debug">empty string found </div>
    {% endif %}
    {% assign darkimgUrlIsNotRelative = true %}
  {% else %}
    {% if debugMode %}
    <div class="debug">Relative url found : {{ darkimgUrlFirstPart }} </div>
    {% endif %}
    {% assign darkimgUrlIsNotRelative = false %}
{% endcase %}

{% if debugMode %}
<div class="debug">
urlPrepend {{ urlPrepend }} <br/>
imgUrlFirstPart {{ imgUrlFirstPart }} <br/>
imgUrlIsNotRelative {{ imgUrlIsNotRelative }} <br/>
darkimgUrlFirstPart {{ darkimgUrlFirstPart }} <br/>
darkimgUrlIsNotRelative {{ darkimgUrlIsNotRelative }} <br/>
</div>
{% endif %}
<figure class="picture">
  {% if include.link.url -%}
    <a href="{{ include.link.url }}" alt="{{ include.link.alt }}" title="{{ include.link.title | default: include.link.alt }}">
  {% endif -%}
    <picture>
      {% if include.img.dark.url %}
      <source media="(prefers-color-scheme: dark)"
      {% if darkimgUrlIsNotRelative -%}
        srcset="{{ include.img.dark.url }}"  />
      {% else -%}
        srcset="{{ include.img.dark.url | prepend: urlPrepend }}"  />
      {% endif -%}
      {% endif -%}
      {% if imgUrlIsNotRelative -%}
      <img src="{{ include.img.url }}" alt="{{ include.img.alt }}" />
      {% else -%}
      <img src="{{ include.img.url | prepend: urlPrepend }}" alt="{{ include.img.alt }}" />
      {% endif -%}
    </picture>
  {% if include.link.url -%}
  </a>
  {% endif -%}
  <figcaption>{{ include.img.title | default: include.img.alt }}</figcaption>
</figure>
