{%- assign liste= include.list | site.posts -%}
{%- assign limite=include.limit | liste.size -%}
{%- assign objets=include.kindOf | "articles" -%}
<div class="posts">
	<h2>Les {{limite}} derniers {{ objets }}</h2>
  <ul class="posts">
	  {%- for entry in liste limit: limite -%}
	    <li>
				<article>
					<a href="{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a>
					<p class="meta">
            <span>Rédigé le {% include time.html date=entry.date %} par {% include author.html %}.</span>
					</p>	
				</article>
	    </li>
	  {%- endfor -%}
	</ul>
</div>
