{%- assign liste= include.list | default: site.posts -%}
{%- assign limite=include.limit | default: liste.size -%}
{%- assign objets=include.kindOf | default: "articles" -%}
<div class="posts">
	<h2>Les {{limite}} derniers {{ objets }}</h2>
  <ul class="posts">
	  {%- for entry in liste limit: limite -%}
	    <li>
				<article class="post">
					<a href="{{ entry.url }}" title="{{ entry.title }}"><span class="date">{% include time.html date=entry.date %}:</span> {{ entry.title }}</a>
					<p class="meta">
            <span>Rédigé par {% include author.html %}.
            {% if entry.update %}Mis à jour le {% include time.html date=entry.update %}{% endif %}
            </span>
					</p>	
				</article>
	    </li>
	  {%- endfor -%}
	</ul>
</div>
