{%- comment -%}
~~~
deux cas de figure se présente ici:

si une entrée page.previous/page.next 
est mentionnée sur le front de la page ou du post, 
les infos seront alors utilisées en priorité
pour construire le bloc précédent / suivant
quelque soit le layout utilisé.

Sinon
on vérifie si le layout utilisé est celui des archives.
et si c´esr le cas, on va rechercher les infos 
previous et next correspondantes à l´année de l´archive.

attention que previous et next doivent avoir 
au moins ces deux éléments
url : l´url de la page/post précédent/suivant
title : le titre de la page/post précédent/suivant
~~~
{%- endcomment -%}


{%- assign debugMode = include.debug | default: false -%}
{%- if page.previous or page.next -%}
{%- if debugMode -%}
<div class="debug">
page.previous: {{page.previous}}
page.next: {{page.next}}
</div>
{%- endif -%}
  {%- assign previous = page.previous -%}
  {%- assign next = page.next -%}
{%- elsif page.layout contains "archives" -%}
{%- assign archive = site.data.archives[page.year] -%}
{%- if debugMode -%}
<div class="debug">
  ARCHIVES MODE ON
page.year: {{page.year}}
archive = site.data.archives[page.year]: {{archive}}
archive.previous: {{archive.previous}}
archive.next: {{archive.next}}
</div>
{%- endif -%}
  {%- assign previous = site.data.archives[archive.previous] -%}
  {%- assign next = site.data.archives[archive.next] -%}
{%- endif -%}
{%- if debugMode -%}
<div class="debug">
previous: {{previous}}
next: {{next}}
</div>
{%- endif -%}
{%- if previous or next -%}
<div class="Precedent-Suivant">
  <div class="Precedent">
    {%- if debugMode -%}
<div class="debug">
previous.url: {{previous.url}}
previous.title: {{previous.title}}
</div>
{%- endif -%}
    {%- if previous.url -%}<a href="{{previous.url}}"><span class="left">&laquo;</span> {{previous.title}}</a>{%- endif -%}
  </div>
  <div class="Suivant">
    {%- if debugMode -%}
<div class="debug">
next.url: {{next.url}}
next.title: {{next.title}}
</div>
{%- endif -%}
    {%- if next.url -%}<a href="{{next.url}}">{{next.title}} <span class="right">&raquo;</span></a>{%- endif -%}
  </div>
</div>
{%- endif -%}
