{%- comment -%}
La plupart des arricles mentionnés sur ce blog 
ont une vie sur Twitter.
Par ce moyen, j'encourage les personnes à laisser 
un commentaire dans le fil approprié sur Twitter.

il suffira de mettre  dans l'entête du post :
  twitterLink: url vers le tweet correspondant.
{%- endcomment -%}
{%- if page.twitterLink -%}
<p class="twitterLink">Merci de me <a href="{{ page.twitterLink }}">laisser un commentaire 
  à la suite de ce fil Twitter</a> si vous avez aimé cet article.</p>
{%- endif -%}
