{% assign src=include.src %}
{% assign descr=include.description %}
{% assign type=include.type %}
{% assign debugMode=include.debug | default: site.debug %}
{% if debugMode %}
<div class="debug">
src: {{ src }} <br/>
descr: {{ descr }} <br/>
type: {{ type }} <br/>
</div>
{% endif %}
<hr>
<div class="video-box">
  <video controls loop>
    <source src="{{ src }}"
            type="{{ type }}" />
    <p>Votre navigateur ne semble pas gérer le tag video</p>
    <p>Mais vous pouvez cliquer sur le lien ci-après pour voir la vidéo</p>
    <a href="{{ src }}" title="{{ descr }}">{{ descr }}</a>
  </video>
  <p>{{ descr | markdownify }}</p>
</div>
<hr>
