---
layout: default
postname: 2020-04-15-Histoire-de-raccourcis-clavier-apple-partie1-le-trio-couper-copier-coller.md
---


# -categories-

{% assign my_variable = "iOS12" %}
{% for item in site.categories[] %}
<p></p>
## -{{ item[0] }}-

{% capture item_name %}{{ item[0] }}{% endcapture %}
{% capture item_first %}{{ item | first }}{% endcapture %}
<p>  item_name:  -{{ item_name }}- </p>
<p>  item_first: -{{ item_first }}- </p>
<p> collection:  -{{ item.collection }}- </p>

<p></p>
## -infos for that given item_name-: -{{ item_name }}l-

{% for item2 in site.categories[item_name] %}

{% capture item2_name %}{{ item2[0] }}{% endcapture %}
{% capture item2_first %}{{ item2 | first }}{% endcapture %}
<p>  item2_name:  -{{ item2_name }}- </p>
<p>  item2_first:  -{{ item2_first }}- </p>
<p> collection:  -{{ item2.collection }}- </p>
  {% endfor %}

<p></p>
{% endfor %}
