---
layout: default
---


{% assign allCategories = "" | split: ',' %}
{% for category in site.categories %}
{% assign allCategories = allCategories | push: category[0] %}
{% endfor %}
{% assign allCategories = allCategories | uniq | sort_natural %}

{%- comment -%}
  ~~~ 
  boucle sur les noms des catégories, par ordre alphabétique.
  ~~~
{%- endcomment -%}

<ul class="taxonomy-index">
{% for categoryName in allCategories %}
  <li>
    <a href="#{{ categoryName | slugify | downcase }}">
      {{categoryName}}
    </a>
  </li>
{% endfor %}
</ul>

{%- comment -%}
  ~~~ 
  boucle sur les noms des catégories et les posts associés à ces catégories.
  ~~~
{%- endcomment -%}

{% for categoryName in allCategories %}
  <section id="{{ categoryName | slugify | downcase }}" class="taxonomy-section">
    <h2 class="taxonomy-title">{{categoryName}}</h2>
    {% for entry in site.categories[categoryName] %}
       {% include entry.html %}
    {% endfor %}
    <a href="#page-title" class="back-to-top">Revenir en haut de la page &uarr;</a>
  </section>
{% endfor %}			

