---
layout: default
---
<p class="meta">{{ page.date | date: "%d/%m/%Y" }} par <a href="/apropos">{{ page.author}}</a>.</p>
{%- if page.categories -%}{%- if page.categories.size > 0 -%}
<p class="meta">{%- if page.categories.size > 1 -%}Catégories{%- else -%}Catégorie{%- endif -%} : {{ page.categories | array_to_sentence_string:"" }}</p>
{%- endif -%}{%- endif -%}

<div class="toc">
  <details>
    <summary>Sommaire</summary>
{%- include toc.html html=content sanitize=true class="toc" item_class="toc_item" submenu_class="toc_submenu" id="my_toc" h_min=2 h_max=6 ordered=true -%}
  <details>
    </div>

<div class="post">
  {{ content }}
</div>

{%- if page.tags -%}{%- if page.tags.size > 0 -%}
<p class="meta">{%- if page.tags.size > 1 -%}Tags{%- else -%}Tag{%- endif -%} : {{ page.tags | array_to_sentence_string:"" }}</p>
{%- endif -%}{%- endif -%}

{%- if page.twitterLink -%}{%- include twitterLink.html -%}{%- endif -%}
{%- if page.otherLinks -%}{%- include otherLinks.html -%}{%- endif -%}
{%- include previous-next.html -%}


