---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date: "%d/%m/%Y" }} par <a href="/apropos">{{ page.author}}</a>.</p>
{% if page.tags %}
<p class="meta">Tags : {{ page.tags | array_to_sentence_string:", " }}</p>
{% endif %}
{% if page.categories %}
<p class="meta">Catégories : {{ page.categories | array_to_sentence_string:", " }}</p>
{% endif %}

<div class="post">
  {{ content }}
</div>

{% if page.otherLinks %}
<div class="otherLinks">
  <p>Vous aimerez aussi lire :</p>
  <ul>
  {% for otherLink in page.otherLinks %}
    <li><a href="{{ otherLink.url }}">{{ otherLink.title }}</a></li>
  {% endfor %}
  </lu>
</div>
{% endif %}

<div class="Precedent-Suivant">
  {% if page.previous.url %}
  <div class="Precedent">
    <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  </div>
  {% endif %}
  {% if page.next.url %}
  <div class="Suivant">
    <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
  </div>
</div>


