---
layout: default
---

{%- comment -%}
  ~~~
  ci-dessous, logique pour avoir toutes les vidéos existantes 
  dans la variable allVideos, mais c´est juste le nom de la vidéo qu´on y range.
  nom de la video qui se trouve dans.
  ~~~
{%- endcomment -%}

{%- assign debugMode = page.debugMode | default: site.debug -%}
{%- assign allVideoNames = "" | split: ',' -%}
{%- for post in site.posts %}
  {%- if post.videos -%}
    {%- for video in post.videos %}
      {%- assign allVideoNames = allVideoNames | push: video.id -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
{%- assign allVideoNames = allVideoNames | uniq | sort_natural -%}

{%- if debugMode -%}
<div class="debug">
   allVideoNames : [{{ allVideoNames }}] <br />
</div>
{%- endif -%}

{%- comment -%}
  ~~~ 
  boucle sur les noms des vidéos et les posts associés à ces vidéos.
  ~~~
{%- endcomment -%}

{%- for videoName in allVideoNames -%}
<section id="{{ videoName | slugify | downcase }}" class="taxonomy-section">
  <h2 class="taxonomy-title">{{ videoName }}</h2>
  {%- assign items = "" | split: ',' -%}
  {%- for post in site.posts -%}
    {%- if post.videos -%}
      {%- if debugMode -%}
        <div class="debug">
         post: [{{ post }}] <br />
         post.videos: [{{ post.videos }}] <br />
        </div>
      {%- endif -%}
      {%- for video in post.videos -%}
        {%- if debugMode -%}
          <div class="debug">
            videoName {{ videoName }} <br />
            video.id {{ video.id }} <br />
          </div>
        {%- endif -%}

        {%- if video.id contains videoName -%}
          {%- assign items = items | push: post -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
  
  {%- if debugMode -%}
    <div class="debug">
       items.size {{ items.size }} <br />
    </div>
  {%- endif -%}

  
  <div class="entries-{{ page.entries_layout | default: 'list' }}">
    <p> # posts : {{ items.size }}</p>
    {%- for entry in items -%}
      {%- include entry.html debug=debugMode -%}
    {%- endfor -%}
  </div>
  <a href="#page-title" class="back-to-top">Revenir en haut de la page &uarr;</a>
</section>
{%- endfor -%}
